@model TaskEntity
@{
    ViewData["Title"] = "Task Page";
}

<h4 class="mb-3 text-muted">Создание задачи</h4>
<form method="post">
    <div class="mb-3">
        <label class="form-label">Название задачи</label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <label class="form-label">Приоритет задачи</label>
    <select asp-for="Priority" class="form-select mb-3" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    <div class="mb-3">
        <label class="form-label">Описание задачи</label>
        <textarea asp-for="Description" type="text" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button asp-action="Create" type="submit" class="btn btn-primary form-control">Создать</button>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}